Django>=4.2,<4.3
wagtail==5.1.1
# Production dependencies.
## gunicorn: runs the server in Docker.
gunicorn>=21.2.0,<22.0.0
## psycopg: connects to the Postgres database.
psycopg[binary]>=3.1.10,<3.2.0
## dj-database-url: connects to the Postgres database.
dj-database-url>=2.1.0,<3.0.0
## whitenoise: servers static files.
whitenoise>=5.0,<5.1
## django-storages: connects to Backblaze B2.
django-storages[s3]>=1.14.0,<2.0.0
